<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>ProdottiServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.ProdottiServlet</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size> <!-- 10 MB -->
            <max-request-size>20971520</max-request-size> <!-- 20 MB -->
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>         
    <servlet-mapping>
        <servlet-name>ProdottiServlet</servlet-name>
        <url-pattern>/ProdottiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.BrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/BrandServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.CategoriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/CategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ColoreModelloServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.ColoreProdottiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ColoreModelloServlet</servlet-name>
        <url-pattern>/ColoreModelloServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImmaginiProdottiServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.ImmaginiProdottiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImmaginiProdottiServlet</servlet-name>
        <url-pattern>/ImmaginiProdottiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ColoreServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.ColoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ColoreServlet</servlet-name>
        <url-pattern>/ColoreServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FornitoriProdottiServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.FornitoriProdottiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FornitoriProdottiServlet</servlet-name>
        <url-pattern>/FornitoriProdottiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FornitoriServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.FornitoriServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FornitoriServlet</servlet-name>
        <url-pattern>/FornitoriServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TagliaServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.TagliaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TagliaServlet</servlet-name>
        <url-pattern>/TagliaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TaglieProdottiServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.TaglieProdottiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaglieProdottiServlet</servlet-name>
        <url-pattern>/TaglieProdottiServlet</url-pattern>
    </servlet-mapping>
</web-app>