<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>ProdottiServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.ProdottiServlet</servlet-class>
    </servlet>         
    <servlet-mapping>
        <servlet-name>ProdottiServlet</servlet-name>
        <url-pattern>/ProdottiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.BrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/BrandServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.CategoriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/CategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ColoreModelloServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.ColoreModelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ColoreModelloServlet</servlet-name>
        <url-pattern>/ColoreModelloServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ColoreServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.ColoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ColoreServlet</servlet-name>
        <url-pattern>/ColoreServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FornitoriProdottiServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.FornitoriProdottiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FornitoriProdottiServlet</servlet-name>
        <url-pattern>/FornitoriProdottiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FornitoriServlet</servlet-name>
        <servlet-class>bnsshop.bnsshop.FornitoriServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FornitoriServlet</servlet-name>
        <url-pattern>/FornitoriServlet</url-pattern>
    </servlet-mapping>
    <!-- <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-
                Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-
                Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>1800</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> -->
</web-app>